<div class="features">
    {% assign current_lang = page.lang | default: site.default_lang %}
    {% assign lang_data = site.data[current_lang] %}
    {% assign features = lang_data.features | default: site.features %}

    {% for feature in features %}
    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>