<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	{% assign current_lang = page.lang | default: site.default_lang %}
	{% assign lang_data = site.data[current_lang] %}
	{% assign site_url = site.your_link | default: "scanstash.github.io" %}
	{% assign page_url = page.url | relative_url | prepend: site_url %}
	{% assign page_title = site.page_title | default: site.app_name %}
	{% assign page_description = lang_data.app_description | default: site.app_description %}
	{% assign app_icon_url = site.app_icon | relative_url | prepend: site_url %}
	{% assign cover_image_url = site.cover_image | relative_url | prepend: site_url %}

	<title class="pageTitle">{{ page_title }}</title>
	
	<!-- Primary Meta Tags -->
	<meta name="title" content="{{ page_title }}">
	<meta name="description" content="{{ page_description }}">
	<meta name="keywords" content="document scanning, mobile scanner, cloud storage, invoice management, tax documents, paperless office, document management, ScanStash, mobile app">
	<meta name="author" content="{{ site.your_name }}">
	<meta name="robots" content="index, follow">
	<meta name="language" content="{{ current_lang }}">
	<meta name="revisit-after" content="7 days">
	
	<!-- Canonical URL -->
	<link rel="canonical" href="{{ page_url }}">
	
	<!-- Language Alternates -->
	{% for lang in site.languages %}
		{% if lang != current_lang %}
			{% if page.url == '/' %}
				<link rel="alternate" hreflang="{{ lang }}" href="{{ site_url }}/{{ lang }}/">
			{% else %}
				<link rel="alternate" hreflang="{{ lang }}" href="{{ page_url | replace: current_lang, lang }}">
			{% endif %}
		{% endif %}
	{% endfor %}
	<link rel="alternate" hreflang="x-default" href="{{ site_url }}/">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ page_url }}">
	<meta property="og:title" content="{{ page_title }}">
	<meta property="og:description" content="{{ page_description }}">
	<meta property="og:image" content="{{ cover_image_url }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:site_name" content="{{ site.app_name }}">
	<meta property="og:locale" content="{{ current_lang }}_{{ current_lang | upcase }}">
	{% for lang in site.languages %}
		{% if lang != current_lang %}
			<meta property="og:locale:alternate" content="{{ lang }}_{{ lang | upcase }}">
		{% endif %}
	{% endfor %}

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{ page_url }}">
	<meta name="twitter:title" content="{{ page_title }}">
	<meta name="twitter:description" content="{{ page_description }}">
	<meta name="twitter:image" content="{{ cover_image_url }}">
	{% if site.twitter_username %}
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:creator" content="@{{ site.twitter_username }}">
	{% endif %}

	<!-- Mobile App Meta Tags -->
	{% if site.ios_app_id %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
		<meta property="al:ios:app_store_id" content="{{ site.ios_app_id }}">
		<meta property="al:ios:app_name" content="{{ site.app_name }}">
	{% endif %}
	{% if site.playstore_link %}
		<meta property="al:android:url" content="{{ site.playstore_link }}">
		<meta property="al:android:app_name" content="{{ site.app_name }}">
		<meta property="al:android:package" content="com.scanstash.app">
	{% endif %}

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.app_icon | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.app_icon | relative_url }}">
	<link rel="apple-touch-icon" href="{{ site.app_icon | relative_url }}">

	<!-- Theme Color -->
	<meta name="theme-color" content="{{ site.topbar_color | default: '#000000' }}">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>